{% extends 'crello/plantilla.html' %} {% block title %} CREAR LISTA {% endblock %} {% load bootstrap4 %} {% block content %}
<br>
<h1 class="text-center">CREAR LISTA</h1>
<div class="container d-flex justify-content-center bg-white border border-primary w-25" style="padding:5%">
    <div class="container">
        <form method="post">
            {% csrf_token %} {% bootstrap_form form %}
            <input class="btn btn-primary" type="submit" value="Crear" style="background-color:#030fab;">
            <a class="btn btn-danger" type="submit" href="{% url 'consultar_lista' info_Tablero.id %}">Cancelar</a>
        </form>
    </div>
</div>
{% endblock content %}