{% extends 'crello/plantilla.html' %} {% block title %} EDITAR LISTA {% endblock %} {% load bootstrap4 %} {% block content %}
<br>
<h1 class="text-center">EDITAR LISTA</h1>
<div class="container d-flex justify-content-center border border-primary w-25 bg-white" style="padding:5%">
    <div class="container">
        <form method="post">
            {% csrf_token %} {% bootstrap_form form %}
            <input class="btn text-white" type="submit" value="Editar" style="background-color:#030fab;">
            <a class="btn btn-danger" type="submit" href="{% url 'consultar_lista' fk_tablero %}">Cancelar</a>
        </form>
    </div>
</div>
{% endblock content %}