{% extends 'crello/plantilla.html' %} 
{% block title %} EDITAR LISTA {% endblock %} 
{% load bootstrap4 %} 
{% block content %}
<br>
<h1 class="text-center">EDITAR TABLERO</h1>
<div class="container d-flex justify-content-center border border-primary w-25" style="padding:5%">
    <div class="container">
        <form method="post">
            {% csrf_token %} {% bootstrap_form form %}
            <input class="btn btn-primary" type="submit" value="Editar">
            <a class="btn btn-danger" type="submit" href="{% url 'consultar_tab' %}">Cancelar</a>
        </form>
    </div>
</div>
{% endblock content %}