{% extends 'crello/plantilla.html' %} 
{% block title %} {{info_tarjeta.nombre}} {% endblock %} 
{% block content %}
<br>
<h1 class="text-center">ELIMINAR TABLERO</h1>
<br>
<div class="container d-flex justify-content-center">
    <form method="post">
        {% csrf_token %}
        <div class="container aling-content-center">
            <h5>¿Desea eliminar la Tarjeta {{info_tarjeta.nombre}}?</h5>
            <br>
            <input class="btn btn-danger" type="submit" value="Eliminar">
            <a class="btn btn-primary" type="submit" href="{% url 'consultar_lista' fk_tablero %}" style="background-color:#030fab;">Cancelar</a>
        </div>
    </form>
</div>
{% endblock content %}