{% extends 'crello/plantilla.html' %}
{% block title %} EDITAR TABLERO {% endblock %}
{% block content %}
    <br>
    <h1 class="text-center">ELIMINAR TABLERO</h1>
    <br>
    <div class="container d-flex justify-content-center">      
      <form method="post">
        {% csrf_token %}
        <div class="container">
          <h5>¿Desea eliminar este tablero?</h5>
          <br>
            <input class="btn btn-danger" type="submit" value="Eliminar">
          <a class="btn btn-primary" type="submit" href="{% url 'consultar_tab' %}">Cancelar</a>
        </div>
      </form>
    </div>
{% endblock content %}  